<!DOCTYPE html>
<html lang="en">
	<head>
		<title>GetMyDeck - Calculator</title>
		<meta name="description" content="A simple time calculator which shows how much percent of SteamDeck resevations Valve was alreay able to ship up to your personal reservation time. The calculator uses your reservation time, your selected SteamDeck version and the region you live in and is based on data from customer sharing their data on a reddit post.">
		<meta charset="utf-8" />
		<link rel="icon" href="./favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
	<link rel="modulepreload" href="/_app/immutable/start-e4f8c48d.js">
	<link rel="modulepreload" href="/_app/immutable/chunks/index-360015a4.js">
	</head>
	<body class="bg-sky-50">
		<div>
		<script type="module" data-sveltekit-hydrate="45h">
		import { start } from "/_app/immutable/start-e4f8c48d.js";
		start({
			target: document.querySelector('[data-sveltekit-hydrate="45h"]').parentNode,
			paths: {"base":"","assets":""},
			session: {},
			route: true,
			spa: true,
			trailing_slash: "never",
			hydrate: null
		});
	</script></div>
	</body>
</html>
